/* styles.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  margin: 0;
  padding: 0;
}

/* .container {
  max-width: 100%;
  margin: auto;
  overflow: scroll;
} */

header {
  background: #50b3a2;
  color: white;
  padding: 1.25rem;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #333;
  /* margin-left: 0.625rem; */
}

p {
  margin-left: 0.625rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: #50b3a2;
  text-decoration: none;
  padding: 0.3125rem 1.25rem;
  display: inline-block;
  /* margin: 0.275rem; */
  background-color: #333;
  color: #fff;
}

a:hover {
  background-color: #50b3a2;
  color: #fff;
}

form {
  width: 100%;
  padding: 0.3125rem;
  margin-top: 0.3125rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form textarea,
form select {
  box-sizing: border-box;
  /* so that padding and borders are included in the width */
  margin-inline-start: 1.25rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 0.0625rem solid #ddd;
}

form input[type="submit"] {
  /* background-color: #e2ca15; */

  color: #fff;

  cursor: pointer;
  /* width: 30%; */
}

/* .inloggen {
  margin-inline-start: 1.25rem;
} */

form input[type="submit"].full-width-button {
  width: auto;
}

form input[type="submit"].indep-width-button {
  width: auto;
}

form input[type="submit"]:hover {
  background-color: #50b3a2;
}

form input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#accountFields {
  width: 100%;
  display: none;
}

#accountFields > * {
  display: block;
}

.alert {
  color: red;
  font-weight: bold;
}

table {
  width: auto;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
}

table,
th,
td {
  border: 0.0625rem solid #000;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

th {
  color: #fff;
  background-color: #50b3a2;
}

tr:hover {
  background-color: #000;
  color: #fff;
}

.section {
  /* width: 48%;  */
  background-color: #fff;
  padding: 1.25rem;
  border: 0.0625rem solid #ddd;
}

.errorMessage {
  color: red;
}

@media (max-width: 760.5rem) {
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="tel"],
  form textarea,
  form select {
    max-width: 100%;
    margin: 0.625rem 0;
    /* Adjust margin as needed */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
  }

  form textarea {
    height: auto;
    /* Or set to a specific height as needed */
    overflow: hidden;
    resize: vertical;
  }

  table {
    width: calc(100% - 3.125rem);
    /* Adjusting for padding */
    margin: 0.625rem 0;
    /* Adjust margin as needed */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
  }
}

/* Card styles */
.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  min-width: 0;
  /* To ensure that it can shrink as needed */
  max-width: 100%;
  /* To prevent it from growing larger than the container */
}

.card-img-top {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  height: 12.5rem;
  /* Adjust the height as needed */
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  margin-left: 0.625rem;
}

.card-text {
  font-size: 1rem;
  margin-left: 0.625rem;
}

.mango {
  background: #ffe259; /* fallback for old browsers */
  background: linear-gradient(to right, #ffa751, #ffe259);
  border: none;
}

.mango:hover {
  
  background: linear-gradient(to left, #ffa751, #ffe259);
  border: none;
}

.btn-teal {
  background-color: #333;
  /* Define your teal color */
  border-color: #006666;
  /* A darker teal for the border */
  color: #fff;
  /* White text color */
}

.btn-teal:hover {
  background-color: #50b3a2;
  /* A darker teal for the hover state */
  border-color: #004d4d;
  color: #fff;
}

.background-image {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1593548615309-5a45c504f994?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGl6emVyaWElMjBzdG9yZXxlbnwwfHwwfHx8Mg%3D%3D");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.content-wrapper {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.content-wrapper::after {
  width: 100vw;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  /* White overlay with opacity */
  z-index: -1;
}

@media (max-width: 760.5rem) {
  .content-wrapper {
    padding: 0 1.25rem;
  }
}

@media (max-width: 35.4375rem) {
  /* Adjust the max-width as needed */
  .card-img-top {
    width: 100%;
    height: auto;
  }

  .card-body {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 0.5rem;
    flex-basis: 100%;
    max-width: 100%;
  }

  .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .item-actions,
  .form-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-inline button {
    width: auto; /* Allow buttons to fill the available space or fit their content */
    margin: 0.25rem 0; /* Add some space between stacked buttons */
  }

  /* Ensure that text does not overflow its container */
  .card-title,
  .card-text,
  span.card-text {
    word-wrap: break-word; /* Allow long words to be broken and wrap to the next line */
    white-space: normal; /* Override any nowrap styles that might be elsewhere */
  }

  /* Adjust the flex settings for the .d-flex class */
  .d-flex {
    flex-direction: column; /* Stack flex items vertically */
  }

  /* Additional adjustments for the shopping cart to ensure no overflow */
  .shopping-cart .card {
    margin-bottom: 1rem; /* Ensure space between cards */
  }

  /* If there are specific elements that are still overflowing, target them here */
  /* Example: */
  .specific-element {
    max-width: 100%; /* Ensure it doesn't grow beyond its container */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Indicate text overflow with an ellipsis */
  }
}
