{% extends 'base.twig' %}

{% block title %}Check out opties{% endblock %}

{% block body %}
<!--checkoutOptions.twig-->
    <h2>Checkout Opties</h2>
    
    <a href="loginController.php">Ik heb een account</a>
    <br>
    <a href="registerController.php">Ik heb geen account</a>


{% endblock %}