{% extends 'base.twig' %}

{% block title %}Check out opties{% endblock %}

{% block body %}
<!--checkoutOptions.twig-->
    <h2 class="pt-4 mb-5">Checkout Opties</h2>
    
    <a class="btn btn-teal specific-element mb-3" href="loginController.php">Ik heb een account</a>
    <br>
    <a class="btn btn-teal specific-element" href="registerController.php">Ik heb geen account</a>


{% endblock %}