{% extends 'base.twig' %}

{% block title %}Welkom{% endblock %}

{% block body %}
<!--index.twig-->
    <h2>Welkom bij onze pizzeria!</h2>
    
    <a href="loginController.php">Inloggen</a>
    <br>
    <a href="ProductController.php">Bekijk onze producten</a>
{% endblock %}
