{% extends 'base.twig' %}

{% block title %}Welkom{% endblock %}

{% block body %}
<!--index.twig-->
    <div class="container-fluid py-4">
        
            
            <div class="col-lg-6 col-md-12">
                <h2 class="pt-4 mb-5"><strong>Welkom bij onze pizzeria!</strong></h2>
                <a class="btn btn-teal mb-3"href="loginController.php">Inloggen</a>
                <br>
                <a class="btn btn-teal"href="productController.php">Bekijk onze producten</a>
            </div>
    </div>
    
{% endblock %}
