{% extends 'base.twig' %}

{% block title %}Welkom{% endblock %}

{% block body %}
<!--index.twig-->
    <h2 class="pt-4 ms-3"><strong>Welkom bij onze pizzeria!</strong></h2>
    
    <a class="ms-4 btn btn-teal"href="loginController.php">Inloggen</a>
    <br>
    <a class="ms-4 btn btn-teal"href="ProductController.php">Bekijk onze producten</a>
{% endblock %}
