{% extends 'base.twig' %}

{% block title %}Inloggen{% endblock %}

{% block body %}
<!--login.twig-->
    <div>
    <h2 class="pt-4 mb-4">Inloggen</h2>
    
    {% if errorMessage %}
    <p class="errorMessage">{{ errorMessage }}</p>
    {% endif %}
    
    <form method="post">
        <label for="floatingInput">Email address:</label>
          <input  placeholder="name@example.com" type="email" name="email" value="{{ email }}" required><br>
          <label for="floatingPassword">Wachtwoord:</label> 
          <input placeholder="Wachtwoord" type="password" name="wachtwoord" required><br>
        <input class="inloggen btn btn-teal mt-2" type="submit" value="Inloggen">
    </form>
</div>
{% endblock %}
